{% extends "base/base.html" %}

{% load bootstrap3 %}
{% block title %}Care{% endblock %}

{% block content %}

    <center><h3>Log in</h3></center>
        {% if error %}
            {{ error }}
        {% endif %}
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <form action="" method="post">
                {% csrf_token %}
                {% bootstrap_label "Email or Username" label_for="id_username" %}
                {% bootstrap_field form.username show_label=False %}
                {% bootstrap_field form.password %}
                {% buttons %}
                <button type="submit" class="btn btn-primary">
                    Log in
                </button>
                {% endbuttons %}
                <input name="next" type="hidden" value="{{next}}">
            </form>
            <a href="/accounts/password/reset">Forgot your password?</a>
            <hr>
            <h4>
                New? <a href="/accounts/register/">Sign up</a>!
            </h4>

        </div>
    </div>

{% endblock %}