{% extends "base/base.html" %}

{% load bootstrap3 %}

{% block content %}

<center><h3>Change password</h3></center>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    {% bootstrap_form_errors form %}

    <form action="" method="post">
      {% csrf_token %}
      {% bootstrap_form form %}
      {% buttons %}
        <button type="submit" class="btn btn-primary">
            Save
        </button>
      {% endbuttons %}
      <input name="next" type="hidden" value="{{next}}">
    </form>
  </div>
</div>
{% endblock %}