{% extends "base/base.html" %}

{% load bootstrap3 %}

{% block title %}Care - forgot password{% endblock %}

{% block content %}

<center><h3>Reset password</h3>

<div>A link to reset your password will be emailed to you.</div>
<br>
</center>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    {% bootstrap_form_errors form %}

    <form action="" method="post">
      {% csrf_token %}
      {% bootstrap_form form %}
      {% buttons %}
        <button type="submit" class="btn btn-primary">
            Send
        </button>
      {% endbuttons %}
      <input name="next" type="hidden" value="{{next}}">
    </form>
  </div>
</div>
{% endblock %}