{% extends "base/base.html" %}

{% load bootstrap3 %}
{% block title %}Care - confirm password reset{% endblock %}

{% block content %}
<center><h3>Reset password</h3>
<br>
</center>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
  {% bootstrap_form_errors form %}
  {% if validlink %}
    <form action="" method="post">
      {% csrf_token %}
      {% bootstrap_form form %}
      {% buttons %}
        <button type="submit" class="btn btn-primary">
          Submit
        </button>
      {% endbuttons %}
      <input name="next" type="hidden" value="{{next}}">
    </form>
  {% else %}
    <p>This reset link is no longer valid!</p>
  {% endif %}
  </div>
</div>

{% endblock %}