{% extends "base/base.html" %}

{% block title %}Care 3.0{% endblock %}

{% block content %}

  <h4>Buyer transactions:</h4>
  {% if buyer_transactions %}
    <table>
    <tr>
      <td><b>ID</b></td>
      <td><b>Group</b></td>
      <td><b>Buyer</b></td>
      <td><b>$$$</b></td>
      <td><b>Date</b></td>
      <td><b>What</b></td>
      <td><b>Consumers</b></td>
    </tr>
    {% for transaction in buyer_transactions %}
    <tr>
      <td><a href="/transactions/{{ transaction.id }}/">{{ transaction.id }}</a></td>
      <td>{{ transaction.group }}</td>
      <td>{{ transaction.buyer }}</td>
      <td>{{ transaction.amount }}</td>
      <td>{{ transaction.date|date:"SHORT_DATE_FORMAT"  }}</td>
      <td>{{ transaction.comment }}</td>
      <td>
	{% for consumer in transaction.consumer.all %}
	  {{consumer}}, 
	{% endfor %}
      </td>
    </tr>
  {% endfor %}
    </table>

  {% else %}
      <p>No buyer transactions available.</p>
  {% endif %}

  <hr>
  <h4>Consumer transactions:</h4>
  {% if consumer_transactions %}
    <table>
    <tr>
      <td><b>ID</b></td>
      <td><b>Group</b></td>
      <td><b>Buyer</b></td>
      <td><b>$$$</b></td>
      <td><b>Date</b></td>
      <td><b>What</b></td>
      <td><b>Consumers</b></td>
    </tr>
    {% for transaction in consumer_transactions %}
    <tr>
	<td><a href="/transactions/{{ transaction.id }}/">{{ transaction.id }}</a></td>
	<td>{{ transaction.group }}</td>
	<td>{{ transaction.buyer }}</td>
	<td>{{ transaction.amount }}</td>
	<td>{{ transaction.date|date:"SHORT_DATE_FORMAT"  }}</td>
	<td>{{ transaction.comment }}</td>
	<td>
	  {% for consumer in transaction.consumer.all %}
	    {{consumer}}, 
	  {% endfor %}
	</td>
    </tr>
  {% endfor %}
    </table>

  {% else %}
      <p>No consumer transactions available.</p>
  {% endif %}

{% endblock %}