{% load bootstrap3 %}
 
{% for group in groups %}
<table class="table table-striped table-hover sortable">
  
<tr>

  <th align="left">
    {% if group.balanceVerified %}
    <div><font class="text-success" data-toggle="tooltip" data-placement="left" title="Balance verified">{{ group.name }} {% bootstrap_icon "ok-circle" %}</font></div>
    {% else %}
    <div style="color:red">{{ group.name }} {% bootstrap_icon "warning-sign" %} <b> error: {{ group.groupBalanceFloat }}</b></div>
    {% endif %}
  </th>
              
</tr>


{% for member in group.userProfiles %}  
<tr>
  {% ifequal member.user user %}
    <td class="text-info" style="padding-left:2em; width:10em;"><b>{{ member.displayname }}</td>
  {% else %}
    <td style="padding-left:2em; width:10em;">{{ member.displayname }}</b></td>
  {% endifequal %}
    <td>
    {% if member.balanceFloat < -100.0 %}
      <div>&#8364<font class="text-danger"><b>{{member.balance}}</b></font></div>
    {% elif member.balanceFloat < 0.0 %}
      <div>&#8364<font class="text-warning"><b>{{member.balance}}</b></font></div>
    {% elif member.balanceFloat > 100.0 %}
      <div>&#8364<font class="text-success"><b>{{member.balance}}</b></font></div>
    {% elif member.balanceFloat > -0.001 %}
      <div>&#8364<font class="text-info"><b>{{member.balance}}</b></font></div>
    {% endif %}
    </td>
</tr>
{% endfor %}

</table>
{% endfor %}

<script>
$('.text-success').tooltip({
  selector: '[data-toggle=tooltip]',
  container: 'body'
});
</script>