 {% load bootstrap3 %}
  
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <a data-toggle="collapse" data-parent="#{{ parentId }}" href="#collapsegroup{{ forloop.counter }}">
        <h5> 
          <table> 
            <tr> 
            
              <td style="padding-left:1em; width:10em;" align="left"> 
                {{ group.name }}
              </td>
              <td style="padding-left:1em; width:8em;" align="right">
                {% if group.myBalance < -100.0 %}
                  &#8364<font class="text-danger"><b>{{ group.myBalance }}
                {% elif group.myBalanceFloat < 0.0 %}
                  &#8364<font class="text-warning"><b>{{ group.myBalance }}
                {% elif group.myBalanceFloat > 100.0 %}
                  &#8364<font class="text-success"><b>{{ group.myBalance }}
                {% elif group.myBalanceFloat > -0.001 %}
                  &#8364<font class="text-info"><b>{{ group.myBalance }}
                {% endif %}
                </b></font>
              </td>
             
              <td style="padding-left:1em; width:6em;" align="right">        
                {% if group.balanceVerified %}
                <div><font class="text-success">{% bootstrap_icon "ok-circle" %}</font></div>
                {% else %}
                <div style="color:red"> {% bootstrap_icon "warning-sign" %} <b> error: {{ group.groupBalanceFloat }}</b></div>
                {% endif %}
              </td>
             
            </tr>
          </table>
        </h5>
      </a>
    </div>
  </div>
  <div id="collapsegroup{{ forloop.counter }}" class="panel-collapse collapse">
    <div class="panel-body">
      <div class="row">
      
        <div class="col-sm-12" align="left">
          <table> 
            {% for member in group.userProfiles %}  
            <tr>
              {% ifequal member.user user %}
                <td ><b>{{ member.displayname }}</td>
              {% else %}
                <td > {{ member.displayname }}</b></td>
              {% endifequal %}
                <td  align="right">
                {% if member.balanceFloat < -100.0 %}
                  <div>&#8364<font class="text-danger"><b>{{member.balance}}</b></font></div>
                {% elif member.balanceFloat < 0.0 %}
                  <div>&#8364<font class="text-warning"><b>{{member.balance}}</b></font></div>
                {% elif member.balanceFloat > 100.0 %}
                  <div>&#8364<font class="text-success"><b>{{member.balance}}</b></font></div>
                {% elif member.balanceFloat > -0.001 %}
                  <div>&#8364<font class="text-info"><b>{{member.balance}}</b></font></div>
                {% endif %}
                </td>
            </tr>
            {% endfor %}
            
            <tr><td><hr></td></tr>
            
            <tr class="col-sm-12">
              <td align="left">        
                  <font class="text">{{group.settings.notification_lower_limit_interval}} email when debt larger than </b> </font>
              </td>
              <td style="padding-right:1em;" align="right">        
                  <font class="text">&#8364 -{{group.settings.notification_lower_limit}}</font>
              </td>
              <td style="padding-left:1em;" align="right">        
                  <font class="text"><a href="/group/settings/{{ group.id }}"><i class="glyphicon glyphicon-cog"></i> </a></font>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>