{% extends "base/base.html" %}

{% load bootstrap3 %}
{% block content %}

<!-- navbar -->
<div class="subnav navbar-default-top">
  <div class="container">
    <ul class="nav navbar-nav">
      <li><a href="/accounts/new"><b class="text-info">{% bootstrap_icon "plus" %}<font style="padding-left:0.5em;">New group</font></b></a></li>
      <li><a href="/invites/new"><b class="text-info">{% bootstrap_icon "send" %}<font style="padding-left:0.5em;">Invite</font></b></a></li>
      <li><a href="/invites/"><b class="text-info">{% bootstrap_icon "list" %}<font style="padding-left:0.5em;">My invites</font></b></a></li>
    </ul>
  </div>
</div>

<div align="center"><h4>Groups</h4></div>

{% if groups %}
  
{% with "accordiongroups" as parentId %}
  <div class="panel-group" id="{{ parentId }}">
  {% for group in groups %}
    {% include "groupaccount/groupaccountpanel.html" %}
  {% endfor %}
  </div>
{% endwith %}
      

{% else %}
<div class="container">
  <h5>
    <p>You are not part of a group yet.</p> 
    <br>
    Create a new group by clicking <a href="/accounts/new"><b class="text-info">{% bootstrap_icon "plus" %}<font style="padding-left:0.1em;">New group</font></b></a> in the menu on the top of this page. 
  </h5>
</div>

{% endif %}

{% endblock %}