{% extends "base/base.html" %}

{% load bootstrap3 %}
{% block content %}

<!-- navbar -->
<div class="subnav navbar-default-top">
  <div class="container">
    <ul class="nav navbar-nav">
      <li><a href="/accounts/new"><b class="text-info">{% bootstrap_icon "plus" %}<font style="padding-left:0.5em;">New group</font></b></a></li>
      <li><a href="/invites/new"><b class="text-info">{% bootstrap_icon "send" %}<font style="padding-left:0.5em;">Invite</font></b></a></li>
      <li><a href="/invites/"><b class="text-info">{% bootstrap_icon "list" %}<font style="padding-left:0.5em;">My invites</font></b></a></li>
    </ul>
  </div>
</div>

{% if groups %}
<div class="row">
<div class="col-xs-8 col-xs-offset-2" align="center">

{% for group in groups %}
 
{% if forloop.first or forloop.counter0|divisibleby:2 %}
  <div class="row">
{% endif %}
  <div class="col-sm-6" align="center">
    <div class="panel panel-primary">
      <div class="panel-heading"><b>{{ group.name }}</b></div>
      <div class="panel-body">
        <table class="table table-striped table-hover">
          
      		{% for member in group.userProfiles %}  
          <tr>
      		  {% ifequal member.user user %}
    		      <td class="text-info"><b>{{ member.displayname }}</td>
      		  {% else %}
    		      <td> {{ member.displayname }}</b></td>
      		  {% endifequal %}
              <td>
              {% if member.balanceFloat < -100.0 %}
                <div class="text-danger"> <b>{{member.balance}}</b> </div>
              {% elif member.balanceFloat < 0.0 %}
                <div class="text-warning"> <b>{{member.balance}}</b> </div>
              {% elif member.balanceFloat > 100.0 %}
                <div class="text-success"> <b>{{member.balance}}</b></div>
              {% elif member.balanceFloat > -0.001 %}
                <div class="text-info"> <b>{{member.balance}}</b></div>
              {% endif %}
              </td>
          </tr>
          {% endfor %}
          
          <tr>
            <td> <b>Total</b></td>
            <td>        
              {% if group.balanceVerified %}
              <div> {{group.groupBalance}} &nbsp;&nbsp; <font class="text-success">{% bootstrap_icon "ok-circle" %}</font></div>
              {% else %}
              <div style="color:red"> {% bootstrap_icon "warning-sign" %} <b> error: {{group.groupBalanceFloat}}</b></div>
              {% endif %}
            </td>
          </tr>
          
        </table>
      </div>
    </div>
    </div>
{% if forloop.last or forloop.counter|divisibleby:2 %}
  </div>
{% endif %}

{% endfor %}
</div>
</div>

  {% else %}
    <br />
      You are not yet part of a group. 
      <br />
      <br />
      Please <a href="/accounts/new/">create</a> a new group or ask a friend to invite you.
  {% endif %}

{% endblock %}