{% extends "groupaccount/base.html" %}

{% block content %}

  {% if groups %}
    <style type="text/css">
      table {
	width:10%;
      }
    </style>

    {% for group in groups %}
    
    <center><h4>{{ group.name }}</h4></center>
    <table>
      <tr>
	  	<th><b>Member</b></th>
		{% for member in group.userProfiles %}  
		  {% ifequal member.user user %}
		    <td>
		      <b>{{ member.displayname }}</b>
		    </td>
		  {% else %}
		    <td>
		      {{ member.displayname }}
		    </td>
		  {% endifequal %}
		{% endfor %}
	<td>Total</td>
      <tr>
      </tr>
	<th><b>Balance</b></th>
	{% for member in group.userProfiles %}  
    <td {% if member.balanceFloat < 0.0 %} style="color:red" {% else %}
      style="color:green" {% endif %}>
      <b>{{member.balance}}</b>
    </td>
	{% endfor %}
      
      <td><b>{{group.groupBalance}}</b></td>
      </tr>
    </table>

    {% endfor %}

  {% endif %}

{% endblock %}