{% extends "base/base.html" %}

{% load bootstrap3 %}
{% block title %}Care{% endblock %}

{% block content %}

<center><h3>User search</h3></center>

<div class="row">      
  <div class="col-md-6 col-md-offset-3">
    <div class="well well-md">
    
      <form action="" method="post">
        {% csrf_token %}
        <div class="row">  

          <div class="col-sm-12">
            {% bootstrap_field form.username %}
          </div>
          
          <div class="col-sm-12">
            {% buttons %}
              <button type="submit" class="btn btn-primary">
                <font> Search </font>
              </button>
            {% endbuttons %}
          </div>
          
        </div>
      </form>
      
    </div>
  </div>
</div>

{% if hasSearched %}
  {% if searchresults %}
  
  <div class="row">      
    <div class="col-md-6 col-md-offset-3">
     <h5>{{ searchresults|length }} found.</h5>         
    </div>
  </div>
  
  <div class="row">      
    <div class="col-md-6 col-md-offset-3">
      <table class="table table-striped table-hover">
        
        <tr>
          <th><b>Username</b></th>
          <th>Display name</th>
<!--           <th>Full name</th> -->
          <th>Invite</th>
        </tr>
        
        {% for userprofile in searchresults %}
        <tr>
          <td>{{ userprofile.user.username }}</td>
          <td>{{ userprofile.displayname }}</td>
<!--           <td>{{ userprofile.firstname }} {{ userprofile.lastname }}</td> -->
          <td><form action="/invites/new/{{ userprofile.id }}"><button type="link" class="btn btn-success">Invite</button></form></td>
        </tr>
        {% endfor %}
      
      </table>
    </div>
  </div>
  {% else %}
   <div class="row">      
    <div class="col-md-6 col-md-offset-3">
      
      <h5>No results.</h5>
            
    </div>
  </div>
  
  {% endif %}

{% endif %}
  
{% endblock %} 