Django==1.9.5
django-bootstrap3==7.0.1
git+https://github.com/jorgenpt/django-bootstrap3-datetimepicker.git
django-cron==0.4.6
django-registration-redux==1.4
django-dual-authentication==1.0.0
django-bootstrap-pagination==1.5.1
