Django==1.10
django-bootstrap-pagination==1.6.2
django-bootstrap3==9.0.0
git+https://github.com/jorgenpt/django-bootstrap3-datetimepicker.git
django-common-helpers==0.9.1
django-cron==0.5.0
django-dual-authentication==1.0.0
django-registration-redux==1.7
