<!DOCTYPE html>
<html>

<head>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Care</title>
  
  {% load bootstrap3 %}
  
  {# Load CSS and JavaScript #}
  {% bootstrap_css %}
  <style type="text/css">
  <!--
  @import url("{{ STATIC_URL }}css/custom.css");
  -->
  </style>
  
  {% block headcontent %}{% endblock %}

</head>

  <!-- navbar -->
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">CARE</a>
      </div>
      <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
          
          <li><a href="/">Balance</a></li>
          <li><a href="/transactions/new">Share</a></li>
          <li><a href="/transactions">Transactions</a></li>
          <li><a href="/accounts/my">Groups</a></li>
          
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Friends <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/"></a></li>
              <li><a href="/invites/">Invites</a></li>
              <li><a href="/invites/new">Invite</a></li>
            </ul>
          </li>
          
          {% if hasInvites %}
          <li><a href="/invites/" style="color:orange"><i class="glyphicon glyphicon-envelope" style="color:orange"></i> ({{ nInvites }}) </a></li>
          {% endif %}
          
        </ul>

        <ul class="nav navbar-nav navbar-right">
          
          <li><a href="/about/">About</a></li>
          
          {% if not isLoggedin %}
          <li><a href="/accounts/login"><i class="glyphicon glyphicon-log-in"></i> <b>Log in</b></a></li>
          <li><a href="/accounts/register"><i class="glyphicon glyphicon-pencil"></i> <b>Register</b></a></li>
          {% else %}
          <li class="dropdown">
            <a href="/" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i> <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/userprofile/edit/{{ user.id}}"><i class="glyphicon glyphicon-cog"></i> Settings</a></li>
              <li><a href="/admin"><i class="glyphicon glyphicon-wrench"></i> Admin</a></li>
              <li><a href="/accounts/logout"><i class="glyphicon glyphicon-log-out"></i> Log out</a></li>
            </ul>
          </li>
          {% endif %}
        </ul>

      </div>
        <!--/.nav-collapse -->
    </div>
  </div>

  <div class="container">
    {% block content %}Empty page{% endblock %}
    <hr>
    <footer class="row">
    </footer>
  </div>

<script src={% bootstrap_jquery_url %} ></script>

{% bootstrap_javascript %}

</body>

</html> 
