{% extends "base/base.html" %}

{% block title %}Care{% endblock %}

{% load bootstrap3 %}
{% block content %}

<div class="subnav subnav subnav-fixed-top">
  <div class="container">
    <ul class="nav navbar-nav">
      <li><a href="/transactions/new"><b class="text-info">{% bootstrap_icon "plus" %}<font style="padding-left:0.5em;">New share</font></b></a></li>
      <li><a href="/transactionsreal/new"><b class="text-info">{% bootstrap_icon "plus" %}<font style="padding-left:0.5em;">New transaction</font></b></a></li>
    </ul>
  </div>
</div>

<div class="row"> 
  <div class="col-sm-4 col-sm-offset-4" align="center" >
    <h4>Balance</h4>
    <h3><b>&#8364 
    {% if myTotalBalanceFloat < 0.0 %} 
    <font style="color:red">
    {% else %}
    <font style="color:green">
    {% endif %}
    {{ myTotalBalance }}
    </font></b> </h3>
  </div>
</div>

<hr>

<div class="row">

  <div class="col-lg-4">
    <div align="center"><h4>Shares</h4></div>
    
    {% if transactionsAll %}
      {% with "accordiontransaction" as parentId %}
        <div class="panel-group" id="{{ parentId }}">
        {% for transaction in transactionsAll %}
          {% include "transaction/transactionpanel.html" %}
        {% endfor %}
        </div>
      {% endwith %}
      
      <div align="center">
        <h6>most recent {{ transactionsRealAll|length }} shown</h6>
      </div>
      
    {% else %}
      <div align="center">No shares to show</div>
    {% endif %}   
  </div>
  
  <div class="col-lg-4">
    <div align="center">
      <h4>Transactions</h4>
    </div>
    
    {% if transactionsRealAll %}
      {% with "accordiontransactionreal" as parentId %}
        <div class="panel-group" id="{{ parentId }}">
        {% for transaction in transactionsRealAll %}
          {% include "transactionreal/transactionrealpanel.html" %}
        {% endfor %}
        </div>
      {% endwith %}
      
      <div align="center">
        <h6>most recent {{ transactionsRealAll|length }} shown</h6>
      </div>
    
    {% else %}
      <div align="center">No transactions to show</div>
    {% endif %}  
       
  </div>

  <div class="col-lg-4">
    <div align="center"><h4>Groups</h4></div>
 
    {% if groups %}   
      {% with "accordiongroups" as parentId %}
        <div class="panel-group" id="{{ parentId }}">
        {% for group in groups %}
          {% include "groupaccount/groupaccountpanel.html" %}
        {% endfor %}
        </div>
      {% endwith %}
        
    {% else %}
      <div align="center">No groups to show</div>
    {% endif %}     
  </div>
   
</div>
{% endblock %}