{% extends "base/base.html" %}

{% load bootstrap3 %}
{% block title %}Care{% endblock %}

{% block content %}
  <center><h4>Settings</h4></center>

<!-- {% if error %}
  {{ error }}
{% endif %} -->

  
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="well well-md">
          
          <form action="" method="post">
          {% csrf_token %}
            <div class="row">
              <div class="col-md-12">
                {% bootstrap_field form.user %}
              </div>
              <div class="col-md-12">
                {% bootstrap_field form.displayname %}
              </div>
              <div class="col-md-12">
                {% bootstrap_field form.firstname %}
              </div>
              <div class="col-md-12">
                {% bootstrap_field form.lastname %}
              </div>
              <div class="col-md-12">
                {% bootstrap_field form.group_accounts %}
              </div>
              <div class="col-md-12">
                <hr/>
                {% bootstrap_field form.historyEmailInterval %}
              </div>
              
              <div class="col-md-12">
              {% buttons %}
                <button type="submit" name="submit_button" class="btn btn-info">
                   Save
                </button>
              {% endbuttons %}
              </div>
            </div>
          </form>
        
        </div>
        
        <center><h4>Actions</h4></center>
        
        <div class="well well-md">
            <a href="/accounts/password/change/">Change password</a>
            <br>
            <a href="/userprofile/sendmyhistory">Send transaction history</a>
        </div>
      
      </div>
    </div>
  
{% endblock %} 