{% extends "base/base.html" %}

{% load bootstrap3 %}
{% block content %}

<div class="subnav subnav subnav-fixed-top">
  <div class="container">
    <div class="subnav">
      <ul class="nav navbar-nav">
        <li><a href="/transactionsreal/new"><b class="text-info">{% bootstrap_icon "plus" %} New transaction</b></a></li>
      </ul>
    </div>
  </div>
</div>

<!--   <center><h3>Transactions</h3></center> -->

  {% if transactionsRealAll %}
<div class="row">
  <div class="col-md-10 col-md-offset-1" align="center">
    <table class="table table-striped table-hover">
    <tr>
      <th><b>&#8364</b></th>
      <th><b>From</b></th>
      <th>{% bootstrap_icon "arrow-right" %}</th>
      <th><b>To</b></th>
      <th><b>Comment</b></th>
      <th><b>Group</b></th>
      <th><b>Date</b></th>
    </tr>
    {% for transaction in transactionsRealAll %}
    <tr>
    	<td {% if transaction.amountPerPersonFloat <= 0.0 %} style="color:red" {% else %}
    	    style="color:green"
    	    {% endif %}>
    	    <b>{{ transaction.amountPerPerson }}</b>
      </td>
    	<td>
    	  {% ifequal transaction.sender.displayname displayname %}
    	  	<b>{{ transaction.sender }}</b>
    	  {% else %}
    	  	{{ transaction.sender }}
    	  {% endifequal %}
    	</td>
      <td>
      {% bootstrap_icon "arrow-right" %}
      </td>
    	<td>
    	  {% ifequal transaction.receiver.displayname displayname %}
    	  	<b>{{ transaction.receiver }}</b>
    	  {% else %}
    	  	{{ transaction.receiver }}
    	  {% endifequal %}
    	</td>
    	<td >{{ transaction.comment }}</td> 
    	<td >{{ transaction.groupAccount }}</td> 
    	<td>{{ transaction.date|date:"SHORT_DATE_FORMAT"  }}</td>
    </tr>
  	{% endfor %}
  	</table>
  </div>
</div>

  {% else %}
    <center>
      No real transactions available.
    </center>
  {% endif %}

{% endblock %}
