{% extends "base/base.html" %}

{% load bootstrap3 %}
{% block title %}Care{% endblock %}

{% block content %}

{% if nogroup %}
<div class="container">
  <h5>
    <br>
    <p>You cannot create a transaction because you are not part of a group yet.</p> 
    <br>
      Ask a friend to invite you or <a href="/group/new">create</a>  a new group. </h5>
</div>
{% else %}

  <center><h3>New transaction</h3></center>
  <center><h4>(I transferred real money)</h4></center>


<div class="row">      
  <div class="col-md-6 col-md-offset-3">
    <div class="well well-md">
    
      <form action="" method="post">
        {% csrf_token %}
        <div class="row">  
          <div class="col-sm-12">
            {% bootstrap_field form.groupAccount %}
          </div>
          <div class="col-sm-6">
            {% bootstrap_field form.sender %}
          </div>
        </div>
  
        <div class="row">  
          <div class="col-sm-3">
            {% bootstrap_field form.amount%}
          </div>
          <div class="col-sm-4">
            {% bootstrap_field form.receiver %}
          </div>
          <div class="col-sm-5">
            {% bootstrap_field form.date %}
          </div>
        </div>
        
        <div class="row">  
          <div class="col-sm-12">
            {% bootstrap_field form.comment %}
          </div>
        </div>
        
        {% buttons %}
          <button type="submit" class="btn btn-primary">
               <font style="padding-right:0.5em;"> Send </font>{% bootstrap_icon "send" %}
          </button>
        {% endbuttons %}
      </form>
      
    </div>
  </div>
</div>
  

{% endif %}
{% endblock %} 
 
