{% extends "base/base.html" %}

{% load bootstrap3 %}
{% block title %}Care{% endblock %}

{% block content %}

{% if nogroup %}
<div class="container">
  <h5>
    <br>
    <p>You cannot share anything yet because you are not part of a group.</p> 
    <br>
      Ask a friend to invite you or <a href="/group/new">create</a>  a new group. </h5>
</div>
{% else %}

<center><h3>Invite</h3s></center>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="well well-md">
         
      <form action="" method="post">
        <div class="row">
          {% csrf_token %}
          <div class="col-sm-6">
            {% bootstrap_field form.inviter %}
          </div>
          <div class="col-sm-6">
            {% bootstrap_field form.invitee %}
          </div>
        </div>
        
        <div class="row">
          <div class="col-sm-12">
            {% bootstrap_field form.group_account %}
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            {% bootstrap_field form.createdDateAndTime %}
          </div>
          <div class="col-sm-3">
            {% bootstrap_field form.isAccepted %}
          </div>
          <div class="col-sm-3">
            {% bootstrap_field form.isDeclined %}
          </div>
        </div>
        {% buttons %}
          <button type="submit" name="submit_button" value="Invite" class="btn btn-primary">
              <font style="padding-right:0.5em;"> Invite </font>{% bootstrap_icon "send" %}
          </button>
        {% endbuttons %}
      </form>
      
    </div>
  </div>
</div>
{% endif %}

{% endblock %} 
 
