{% extends "base/base.html" %}

{% load bootstrap3 %}
{% block content %}


<!-- navbar -->
<div class="subnav subnav subnav-fixed-top">
  <div class="container">
    <ul class="nav navbar-nav">
      <li><a href="/userprofile/search/"><b class="text-info">{% bootstrap_icon "send" %}<font style="padding-left:0.5em;">Invite</font></b></a></li>
    </ul>
  </div>
</div>

  <div class="row">
    <div class="col-sm-4 col-sm-offset-2" align="center">
      <div class="panel panel-primary">
        <div class="panel-heading"><b>Invites received</b></div>
        <div class="panel-body">
          <table class="table table-striped table-hover" style="width: 100%;">
            {% if not invitesReceived %}
              <tr class="container">
                <h5>
                  <p>You have not been invited to a group yet.</p> 
                </h5>
              </tr>  
            
            {% else %}
            
            <tr>
              <th><b>From</b></th>
              <th><b>Group</b></th>
    <!--           <th><b>Invitee</b></th> -->
    <!--           <th><b>Date</b></th> -->
              <th><b>Accept</b></th>
            </tr>
            
            {% for invite in invitesReceived %}
            {% if invite.isAccepted %}
            <tr >
            {% elif invite.isDeclined %}
            <tr >
            {% else %}
            <tr class="info">
            {% endif %}
              <td>{{ invite.inviter }}</td>
      
              <td>{{ invite.group_account }}</td>
    
    <!--         <td>
              {% ifequal invite.invitee.displayname displayname %}
                <b>{{ invite.invitee }}</b></font>
              {% else %}
                {{ invite.invitee }}</font>
              {% endifequal %}
            </td> -->
            
    <!--         <td>{{ invite.createdDateAndTime|date:"SHORT_DATE_FORMAT"  }}</td> -->
            
            {% if invite.isAccepted %}
              <td align="center"> <font class="text-primary"><b>{% bootstrap_icon "ok-circle" %}</b></font></td>
            {% elif invite.isDeclined %}
              <td align="center"> <font class="text-warning"><b>{% bootstrap_icon "ban-circle" %}</b></font> </td>
            {% else %}
              <td align="center"> 
                <a href="/invites/accept/{{ invite.id }}" style="color:white">{% bootstrap_icon "ok-circle" %}</a> &nbsp;&nbsp;
                <a href="/invites/decline/{{ invite.id }}" style="color:white">{% bootstrap_icon "ban-circle" %}</a>
              </td>
            {% endif %}
            </tr>
            {% endfor %}
            
            {% endif %}
        </table>
      </div>
    </div>
  </div>




  <div class="col-sm-4" align="center">  
    <div class="panel panel-primary">
      <div class="panel-heading"><b>Invites sent</b></div>
      <div class="panel-body">
    
        <table class="table table-striped table-hover" style="width: 95%;">
        {% if not invitesSent %}
        <tr>
          <h5>
            <p>You have not invited someone to a group yet.</p> 
          </h5>
        </tr>
        {% else %}
            
          <tr>
            <th><b>To</b></th>
            <th><b>Group</b></th>
            <th><b>Status</b></th>
          </tr>
          
        {% for invite in invitesSent %}
          <tr >
      
      <!--   		<td>
        		  {% ifequal invite.inviter.displayname displayname %}
        		  	<b>{{ invite.inviter }}</b>
        		  {% else %}
        		  	{{ invite.inviter }}
        		  {% endifequal %}
        		</td> -->
            
        		<td>
        		  {% ifequal invite.invitee.displayname displayname %}
        		    <b>{{ invite.invitee }}</b></font>
        		  {% else %}
        		    {{ invite.invitee }}</font>
        		  {% endifequal %}
        		</td>
      
        		<td>{{ invite.group_account }}</td>
      
        <!-- 		<td>{{ invite.createdDateAndTime|date:"SHORT_DATE_FORMAT"  }}</td> -->
            {% if invite.isAccepted %}
        		  <td align="center" class="text-primary"> <b>{% bootstrap_icon "ok-circle" %}</b> </td>
        		{% elif not invite.isDeclined %}
        		  <td align="center" ><font class="text-success"><b>{% bootstrap_icon "send" %}</b></font></td>
        		{% else %}
        		  <td align="center" class="text-warning"> <b>{% bootstrap_icon "ban-circle" %}</b> </td>
            {% endif %}
          </tr>
      	{% endfor %}
        {% endif %}
      	
        </table>
      </div>
    </div>
  </div>
  
  <div class="col-md-8 col-md-offset-2" align="center">
    <hr>
    <h5>Legend</h5>
    <table class="table table-hover" style="width:100%;">
      <tr>
        <td class="info" align="center"> 
          <font style="color:white">{% bootstrap_icon "ok-circle" %} </a> <br>  accept 
        </td>
        <td class="info" align="center"> 
          <font style="color:white">{% bootstrap_icon "ban-circle" %} </a> <br>  reject 
        </td>
        <td align="center"> <font class="text-primary"><b>{% bootstrap_icon "ok-circle" %} <br> accepted </b></font> </td>
        <td align="center"> <font class="text-warning"><b>{% bootstrap_icon "ban-circle" %} <br>  declined </b></font> </td>
        <td align="center"> <font class="text-success"><b>{% bootstrap_icon "send" %} <br>  sent</b></font></td>
      </tr>
      
    </table>
  </div>
  
</div>
  




{% endblock %}