{% load bootstrap3 %}
 
{% for group in groups %}
  <table class="table table-bordered">
    <tr class="active">
      <th class="text-left" style="padding-left:2em; width:30em;"><b>{{ group.name }}</b></th>
      <th class="text-right" style="width:1em;">
        {% if group.balance_verified %}
        <div><font class="text-success" data-toggle="tooltip" data-placement="left" title="Balance verified">{% bootstrap_icon "ok-circle" %}</font></div>
        {% else %}
        <div style="color:red"> {% bootstrap_icon "warning-sign" %} <b> error: {{ group.group_balance_float }}</b></div>
        {% endif %}
      </th>
      <th class="text-right" style="width:1em;">
        <a href="/group/settings/{{ group.settings.id }}" data-toggle="tooltip" data-placement="left" title="Settings" >
        <i class="glyphicon glyphicon-cog"></i></a>
      </th>
      <th>
        <a href="/group/statistics/{{ group.id }}"><i class="glyphicon glyphicon-stats"></i> </a>
      </th>
    </tr>
  </table>
  
  <table class="table table-hover table-bordered">
  {% for member in group.user_profiles %}
    <tr>
      {% ifequal member.user user %}
        <td class="text-info" style="padding-left:2em; width:10em;"><b>{{ member.displayname }}</td>
      {% else %}
        <td style="padding-left:2em; width:10em;">{{ member.displayname }}</b></td>
      {% endifequal %}
        <td class="text-right">
        {% if member.balance_float < -100.0 %}
          <div>&#8364<font class="text-danger"><b>{{member.balance}}</b></font></div>
        {% elif member.balance_float < 0.0 %}
          <div>&#8364<font class="text-warning"><b>{{member.balance}}</b></font></div>
        {% elif member.balance_float > 100.0 %}
          <div>&#8364<font class="text-success"><b>{{member.balance}}</b></font></div>
        {% elif member.balance_float > -0.001 %}
          <div>&#8364<font class="text-info"><b>{{member.balance}}</b></font></div>
        {% endif %}
        </td>
    </tr>
  {% endfor %}
  </table>
  
 <div>
   <h6>
     {{group.settings.notification_lower_limit_interval }} reminder when balance below &#8364 {{ group.settings.notification_lower_limit }} 
   </h6>
 </div>
{% endfor %}

<script>
$('.text-success').tooltip({
  selector: '[data-toggle=tooltip]',
  container: 'body'
});
</script>