 {% load bootstrap3 %}

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <a data-toggle="collapse" data-parent="#{{ parentId }}" href="#collapsegroup{{ forloop.counter }}">
        <h5> 
          <table width="100%"> 
            <tr> 
            
              <td style="padding-left:0em; width:10em;" align="left"> 
                <b>{{ group.name }}</b>
              </td>
              <td style="padding-left:1em; width:8em;" align="right">
                {% if group.my_balance < -100.0 %}
                  &#8364<font class="text-danger"><b>{{ group.my_balance }}
                {% elif group.my_balance_float < 0.0 %}
                  &#8364<font class="text-warning"><b>{{ group.my_balance }}
                {% elif group.my_balance_float > 100.0 %}
                  &#8364<font class="text-success"><b>{{ group.my_balance }}
                {% elif group.my_balance_float > -0.001 %}
                  &#8364<font class="text-info"><b>{{ group.my_balance }}
                {% endif %}
                </b></font>
              </td>
             
              <td style="padding-left:1em; width:1em;" align="right">        
                {% if group.balance_verified %}
                <div><font class="text-success">{% bootstrap_icon "ok-circle" %}</font></div>
                {% else %}
                <div style="color:red"> {% bootstrap_icon "warning-sign" %} <b> error: {{ group.group_balance_float }}</b></div>
                {% endif %}
              </td>
             
            </tr>
          </table>
        </h5>
      </a>
    </div>
  </div>
  <div id="collapsegroup{{ forloop.counter }}" class="panel-collapse collapse">
    <div class="panel-body">
      <div class="row">
      
        <div class="col-sm-12">
          <table style="width:100%;"> 
            {% for member in group.user_profiles %}
            <tr> 
              {% ifequal member.user user %}
                <td ><b>{{ member.displayname }}</td>
              {% else %}
                <td > {{ member.displayname }}</b></td>
              {% endifequal %}
                <td align="right">
                {% if member.balance_float < -100.0 %}
                  <div>&#8364<font class="text-danger"><b>{{member.balance}}</b></font></div>
                {% elif member.balance_float < 0.0 %}
                  <div>&#8364<font class="text-warning"><b>{{member.balance}}</b></font></div>
                {% elif member.balance_float > 100.0 %}
                  <div>&#8364<font class="text-success"><b>{{member.balance}}</b></font></div>
                {% elif member.balance_float > -0.001 %}
                  <div>&#8364<font class="text-info"><b>{{member.balance}}</b></font></div>
                {% endif %}
                </td>
            </tr>
            {% endfor %}
            
            <tr><td><br></td></tr>

            <tr>
              <td align="left">
                  <div><font class="text">{{group.settings.notification_lower_limit_interval}} email if balance below </b> </font></div>
              </td>
              <td class="text-right">
                  <div><font class="text">&#8364 {{group.settings.notification_lower_limit}}</font></div>
              </td>
              <td style="padding-left:1em; width:1em;" align="right">
                  <div><font class="text"><a href="/group/settings/{{ group.settings.id }}"><i class="glyphicon glyphicon-pencil"></i> </a></font></div>
              </td>
            </tr>
          </table>
          <a href="/group/statistics/{{ group.id }}"><i class="glyphicon glyphicon-stats"></i> <b>statistics</b></a>
        </div>
      </div>
    </div>
  </div>
</div>