{% extends "base/base.html" %}

{% load bootstrap3 %}
{% block content %}

<!-- navbar -->
<div class="subnav navbar-default-top">
  <div class="container">
    <ul class="nav navbar-nav">
      <li><a href="/group/new"><b class="text-info">{% bootstrap_icon "plus" %}<font style="padding-left:0.5em;">New group</font></b></a></li>
      <li><a href="/userprofile/search/"><b class="text-info">{% bootstrap_icon "send" %}<font style="padding-left:0.5em;">Invite</font></b></a></li>
      <li><a href="/invites/"><b class="text-info">{% bootstrap_icon "list" %}<font style="padding-left:0.5em;">My invites</font></b></a></li>
      {% if userprofile.showTableView %}  
      <li><a href="/group/my/1"><b class="text-info">{% bootstrap_icon "th-large" %}<font style="padding-left:0.5em;">Tiles</font></b></a></li>
      {% else %}
      <li><a href="/group/my/2"><b class="text-info">{% bootstrap_icon "list" %}<font style="padding-left:0.5em;">Table</font></b></a></li>
      {% endif %}
    </ul>
  </div>
</div>

<div align="center"><h4>Groups</h4></div>

{% if groups %}

{% if not userprofile.showTableView %} 
  
{% with "accordiongroups" as parentId %}
<div class="row">
<div class="col-sm-4 col-sm-offset-4">
  <div class="panel-group" id="{{ parentId }}">
  {% for group in groups %}
    {% include "groupaccount/groupaccountpanel.html" %}
  {% endfor %}
  </div>
 </div>
 </div>
{% endwith %}

{% endif %}


{% if userprofile.showTableView %}  
<div class="row">
  <div class="col-md-4 col-md-offset-4" align="center">
  {% include "groupaccount/groupaccounttable.html" %}  
  </div>
</div>
{% endif %}

{% else %}
<div class="container">
  <h5>
    <p>You are not part of a group yet.</p> 
    <br>
    Create a new group by clicking <a href="/group/new"><b class="text-info">{% bootstrap_icon "plus" %}<font style="padding-left:0.1em;">New group</font></b></a> in the menu on the top of this page. 
  </h5>
</div>

{% endif %}

{% endblock %}