{% extends "base/base.html" %}

{% load bootstrap3 %}
{% block title %}Care{% endblock %}

{% block content %}

<center><h3>Create group</h3></center>

<div class="row">      
  <div class="col-md-4 col-md-offset-4">
    <div class="well well-md">
      {% bootstrap_form_errors form %}
      <form action="" method="post">
      {% csrf_token %}
        <div class="row">  
          <div class="col-sm-12">
            {% bootstrap_field form.name %}
          </div>
        </div>
  
        {% buttons %}
          <button type="submit" class="btn btn-primary">
               <font style="padding-right:0.5em;"> Create </font>{% bootstrap_icon "send" %}
          </button>
        {% endbuttons %}
      </form>
    </div>
  </div>
</div>
  

{% endblock %} 
 
