/* style.scss */

/* $firstColor: #003366;*/
/* $secondColor: #666699;*/

$firstColor: #003481;
$secondColor: #2B6DAC;

// abn amro
// $firstColor: #009286;
// $secondColor: #f3c000;

// ing
// $firstColor: #ff6600;
// $secondColor: #000066;

// knmi
// $firstColor: #046f96;
// $secondColor: #c2e2f0;

body {
  margin-left:auto;
  margin-right:auto;
}

h1 {
  color:$secondColor;
}

h4 {
  color:$firstColor;
  font-size:1em;
  font-family:"Arial",Georgia,Serif;
}

a {
  font-family:"Arial",Georgia,Serif;
}

font {
  font-family:"Arial",Georgia,Serif;
}

table {
  width:90%;
  border-top:2px solid $firstColor;
  border-right:2px solid $firstColor;
  border-bottom:2px solid $firstColor;
  border-left:2px solid $firstColor;
  margin:1em auto;
  border-collapse:collapse;
}

td {
  color:$firstColor;
  border-left:0px solid #8e8e8e;
  border-bottom:1px solid $firstColor;
  padding:1em 0.8em;
  text-align:left;
  font-size:0.8em;
  font-family:"Arial",Georgia,Serif;
}

th {
  background-color:$firstColor;
  color:#FFFFFF;
  border-left:1px solid $firstColor;
  border-bottom:1px solid $firstColor;
  padding:.3em 1em;
  text-align:left;
  font-size:0.8em;
  font-family:"Arial",Georgia,Serif;
}

#userMessageFont {
  font-family:"Arial";
  font-size:1.0em;
  font-weight:bold;
  color:$secondColor
}

#notificationFont {
  font-size: 0.7em;
  vertical-align: text-top; 
  color:red }

#consumerfont {
  font-family:"Arial";
  font-size:0.9em;
  color:$firstColor
}

#container {
  width:960px;
  margin-left:auto;
  margin-right:auto;
  margin-top:40px;
  -moz-box-shadow: 1px 1px 8px #8e8e8e;
  -webkit-box-shadow: 1px 1px 8px #8e8e8e;
  box-shadow: 1px 1px 8px #8e8e8e;
}

#logotitle {
  font-family:"Arial";
  font-size:60px;
  color:$firstColor
}


#logosubtitle {
  font-family:"Arial";
  padding-left:4px;
  font-size:1.1em;
  color:$secondColor
}

#header {
  background-color:#FFFFFF;
//   height:110px;
  padding-left:30px;
  padding-top:18px;
  padding-bottom:13px;
}

#login {
//   background-color:#FFFFFF;
  height:10px;
  width:300px;
  position:absolute;
// //   padding-left:10px;
//   float:right;
  top:10px;
  left:50%;
//   margin-top:300px;
  margin-left:240px;
}

#loginfont {
  font-family:"Arial";
  font-size:0.8em;
  color:$firstColor
}

#loginlink {
  font-size:0.8em;
  color:$secondColor;
  text-decoration:none;
}

#usernamelink {
  font-size:0.8em;
  color:$secondColor;
  text-decoration:none;
}

#formtable {
  width:40%;
  margin:1em auto;
  border-collapse:collapse;
  font-size:0.9em;
  font-family:"Arial",Georgia,Serif;
}

#content {
  background-color:#FFFFFF;
  height:720px;
  width:765px;
  float:left;
  padding-left:10px;
  padding-top:20px;
  overflow:auto;
}

#row {
  clear: both;
  width: 100%;
} 

#col_left {
  float: left;
  width: 50%;
  margin: 0 0px 0 0;
  border: 0px;
} 

#col_right {
  float: right;
  width: 50%;
  margin: 0 0px 0 0;
  border: 0px;
} 

#footer {
  background-color:$secondColor;
  height:5px;
  clear:both;
  text-align:center;
}

div.horizontalmenu {
  width:100%;
  height:36px;
  background-color:$firstColor;
}

#horizontalmenubar {
  background-color:$secondColor;
  clear:both;
  text-align:center;
  float:bottom;
  height:100%;
  align:bottom;
}

div.horizontalmenu ul {
  list-style-type:none;
  margin:0;
  padding:0;
}

div.horizontalmenu li {
  float:left;	
}

div.horizontalmenu a {
  display:block;
  width:120px;
  font-size:1em;
}

div.horizontalmenu a:link, div.horizontalmenu a:visited {
  font-weight:bold;
  color:#FFFFFF;
  background-color:$firstColor;
  text-align:center;
  padding:4px;
  text-decoration:none;
  /*text-transform:uppercase;*/
}

div.horizontalmenu a:hover, div.horizontalmenu a:active {
  background-color:$secondColor;
}

div.selectgroupmenu {
  height:45px;
  width:300px;
  background-color:$secondColor;
}

div.selectgroupmenu ul {
  list-style-type:none;
  margin:0;
  padding:0;
}

div.selectgroupmenu li {
  margin:0;
  padding:0;
  float:center;	
}

div.selectgroupmenu a {
  display:block;
  height:34px;
  width:300px;
  font-size:1.5em;
}

#selectedbutton {
  background-color:$secondColor;
}

div.selectgroupmenu a:link, div.selectgroupmenu a:visited {
  font-weight:bold;
  color:#FFFFFF;
  background-color:$firstColor;
  text-align:center;
  padding-top:5px;
  padding-bottom:0px;
  text-decoration:none;
//   padding:4px;
  /*text-transform:uppercase;*/
}

div.selectgroupmenu a:hover, div.selectgroupmenu a:active {
  background-color:$secondColor;
}

div.verticalmenu {
  background-color:#FFFFFF;
  height:735px;
  width:170px;
  float:left;
  padding-left:15px;
  padding-top:5px;
}

div.verticalmenu ul {
  list-style-type:none;
  margin:0;
  padding:0;
}

div.verticalmenu li {
  margin:0 75px 75px 0; 
  vertical-align:top
}

div.verticalmenu a {
  display:block;
  width:155px;
  height:4px;
  font-size:0.9em;
}

div.verticalmenu a:link, div.verticalmenu a:visited {
  font-weight:bold;
  color:$secondColor;
  background-color:#FFFFFF;
  text-align:left;
  padding:0;
  text-decoration:none;
  /*text-transform:uppercase;*/
}

div.verticalmenu a:hover, div.verticalmenu a:active {
  background-color:#FFFFFF;
  color:$firstColor;
}
