{% extends "base/base.html" %}

{% load bootstrap3 %}
{% block title %}Care{% endblock %}

{% block content %}

  <center><h3>Create Group</h3></center>

  {% if created %}
    Group successfully created!
    <br />
    <a href="accounts/my/">Groups</a>
  {% endif %}

  {% if form %}
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      {% bootstrap_form_errors form %}
      <form action="." method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
          <button type="submit" class="btn btn-primary">
             Create
          </button>
        {% endbuttons %}
        <input name="next" type="hidden" value="{{next}}">
      </form>
    </div>
  </div>
  {% endif %}
{% endblock %}
