{% extends "base/base.html" %}

{% load bootstrap3 %}
{% block content %}

<!-- navbar -->
<div class="subnav subnav subnav-fixed-top">
  <div class="container">
    <div class="subnav">
      <ul class="nav navbar-nav">
        <li><a href="/transactions/new"><b>{% bootstrap_icon "plus" %}<font style="padding-left:0.5em;">New share</font></b></a></li>
      </ul>
    </div>
  </div>
</div>

<!--   <center><h5>Shares</h5></center> -->
  
  {% if transactionsAll %}
  
<div class="row">
  <div class="col-md-10 col-md-offset-1" align="center">
    <table class="table table-striped table-hover table-condensed">
    <tr>
      <th><b>&#8364</b></th>
      <th><b>What</b></th>
      <th><b>Group</b></th>
      <th><b>Who</b></th>
      <th><b>Shared with</b></th>
      <th><b>Date</b></th>
    </tr>
      {% for transaction in transactionsAll %}
    <tr>
    
    {% if transaction.amountPerPersonFloat <= 0.0 %}
     	<td  style="color:red" align="right">
      {% else %}
     	<td  style="color:green" align="right">
	    {% endif %}
        
  	    <b>{{ transaction.amountPerPerson }}</b>
      </td>
    
      <td > <b>{{ transaction.what }}</b> </td> 
    
      <td>{{ transaction.groupAccount }}</td>
    
      <td>
        {% ifequal transaction.buyer.displayname displayname %}
        	<b>{{ transaction.buyer }}</b>
        {% else %}
        	{{ transaction.buyer }}
        {% endifequal %}
      </td>
      
      <td>
      {% for consumer in transaction.consumers.all %}
        {% ifequal consumer.displayname displayname %}
        <b>{{ consumer }}</b>
        {% else %}
        {{ consumer }}
        {% endifequal %}
      {% endfor %}
      </td>
      
      <td>{{ transaction.date|date:"Y-m-d"  }}</td>
    
    </tr>
  	{% endfor %}
  	</table>
  </div>
</div>

  {% else %}
    <center>
      No virtual transactions available.
    </center>
  {% endif %}

{% endblock %}
