{% extends "base/base.html" %}

{% load bootstrap3 %}
{% block content %}

<!-- navbar -->
<div class="subnav subnav subnav-fixed-top">
  <div class="container">
    <div class="subnav">
      <ul class="nav navbar-nav">
        <li><a href="/transactions/new"><b class="text-info">{% bootstrap_icon "plus" %}<font style="padding-left:0.5em;">New share</font></b></a></li>
        {% if tableView %}  
        <li><a href="/transactions/0"><b class="text-info">{% bootstrap_icon "th-large" %}<font style="padding-left:0.5em;">Compact view</font></b></a></li>
        {% else %}
        <li><a href="/transactions/1"><b class="text-info">{% bootstrap_icon "list" %}<font style="padding-left:0.5em;">Table view</font></b></a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>

{% if transactionsAll %}

{% if not tableView %}  
<!--   <center><h5>Shares</h5></center> -->
<div class="panel-group" id="accordion">
{% for transaction in transactionsAll %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ forloop.counter }}">
            <h5> 
            <table> 
              <tr> 
                <td style="padding-left:1em; width:6em;" align="left"> 
                {% if transaction.amountPerPersonFloat <= 0.0 %}
                  <b>&#8364<font class="text-warning">{{ transaction.amountPerPerson }}</font></b>
                {% else %}
                  <b>&#8364<font class="text-info">{{ transaction.amountPerPerson }}</font></b>
                {% endif %}
                </td>
                
                <td style="padding-left:2em; width:20em;">  <b>{{ transaction.what }}</b></td>   

                <td style="padding-left:2em;">  {{ transaction.buyer }}</td>   
                
              </tr>
            </table>
            </h5>
        </a>
      </h4>
    </div>
    <div id="collapse{{ forloop.counter }}" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="row">
          
          <div class="col-sm-2" align="center">
            {% ifequal transaction.buyer.displayname displayname %}
            <font class="text-info">{{ transaction.buyer }}</font>
            {% else %}
            {{ transaction.buyer }}
            {% endifequal %}
          </div>

          <div class="col-sm-1" align="center">
                {% if transaction.amount <= 0.0 %}
                  <b>&#8364<font class="text-warning">{{ transaction.amount }}</font></b>
                {% else %}
                  <b>&#8364<font class="text-info">{{ transaction.amount }}</font></b>
                {% endif %}
          </div>

          <div class="col-sm-2" align="center">
            {{ transaction.what }}
          </div>
          
          <div class="col-sm-1" align="center">
                {% if transaction.amountPerPersonFloat <= 0.0 %}
                  <b>&#8364<font class="text-warning" >{{ transaction.amountPerPerson }}</font></b>
                {% else %}
                  <b>&#8364<font class="text-info" >{{ transaction.amountPerPerson }}</font></b>
                {% endif %}
          </div>
          
          <div class="col-sm-2" align="center" style="padding-left:2em;">
          {% for consumer in transaction.consumers.all %}
            {% ifequal consumer.displayname displayname %}
            <font class="text-info">{{ consumer }}</font>{% else %}{{ consumer }}{% endifequal %}{% if not forloop.last %},{% endif %}
          {% endfor %}
          <br>
          </div>
         
          <div class="col-sm-2" align="center">
            {{ transaction.groupAccount }}
          </div>

          <div class="col-sm-1" align="center">
          {{ transaction.date|date:"d M" }}
          </div>
          <div class="col-sm-1" align="center">
            <a href="/transactions/edit/{{ transaction.id }}">{% bootstrap_icon "pencil" %}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
</div>
{% endif %}
 

{% if tableView %}  
<div class="row">
  <div class="col-md-10 col-md-offset-1" align="center">
    <table class="table table-striped table-hover table-condensed">
    <tr>
      <th><b>&#8364</b></th>
      <th><b>What</b></th>
      <th><b>Group</b></th>
      <th><b>Who</b></th>
      <th><b>Shared with</b></th>
      <th><b>Date</b></th>
    </tr>
      {% for transaction in transactionsAll %}
    <tr>
    
    {% if transaction.amountPerPersonFloat <= 0.0 %}
     	<td  style="color:red" align="right">
    {% else %}
     	<td  style="color:green" align="right">
	  {% endif %}
        
  	    <b>{{ transaction.amountPerPerson }}</b>
      </td>
    
      <td > <b>{{ transaction.what }}</b> </td> 
    
      <td>{{ transaction.groupAccount }}</td>
    
      <td>
        {% ifequal transaction.buyer.displayname displayname %}
        	<b>{{ transaction.buyer }}</b>
        {% else %}
        	{{ transaction.buyer }}
        {% endifequal %}
      </td>
      
      <td>
      {% for consumer in transaction.consumers.all %}
        {% ifequal consumer.displayname displayname %}
        <b>{{ consumer }}</b>
        {% else %}
        {{ consumer }}
        {% endifequal %}
      {% endfor %}
      </td>
      
      <td>{{ transaction.date|date:"Y-m-d"  }}</td>
    
    </tr>
  	{% endfor %}
  	</table>
  </div>
</div>
{% endif %}

{% else %}
  <div class="container">
    <h5>
      <p>Nothing has been shared with you yet.</p> 
      <br>
      Share by clicking <a href="/transactions/new"><b class="text-info">{% bootstrap_icon "plus" %}<font style="padding-left:0.1em;">New share</font></b></a> in the menu. 
    </h5>
  </div>
{% endif %}

{% endblock %}
