{% extends "transaction/base.html" %}

{% block content %}
  <center><h4>Virtual Transactions</h4></center>
  
  {% if transactionsAll %}
    <table>
    <tr>
      <th><b>&#8364</b></th>
      <th><b>What</b></th>
      <th><b>Group</b></th>
      <th><b>Who</b></th>
      <th><b>Consumers</b></th>
      <th><b>Date</b></th>
    </tr>
    {% for transaction in transactionsAll %}
    <tr>
   	<td {% if transaction.amountPerPersonFloat <= 0.0 %} style="color:red" {% else %}
	    style="color:green"
	    {% endif %}>
	    <b>{{ transaction.amountPerPerson }}</b>
	</td>
	<td > <b>{{ transaction.what }}</b> </td> 
	<td>{{ transaction.groupAccount }}</td>
	<td>
	  {% ifequal transaction.buyer.displayname displayname %}
	  	<b>{{ transaction.buyer }}</b>
	  {% else %}
	  	{{ transaction.buyer }}
	  {% endifequal %}
	</td>
	<td>
	  {% for consumer in transaction.consumers.all %}
	    {% ifequal consumer.displayname displayname %}
	    <font id="consumerfont"><b>{{ consumer }}</b></font>
	    {% else %}
	    <font id="consumerfont">{{ consumer }}</font>
	    {% endifequal %}
	  {% endfor %}
	</td>
	<td>{{ transaction.date|date:"SHORT_DATE_FORMAT"  }}</td>
    </tr>
  	{% endfor %}
  	</table>

  {% else %}
    <p>No virtual transactions available.</p>
  {% endif %}
  
  <center><h4>Real Transactions</h4></center>

  {% if transactionsRealAll %}
    <table>
    <tr>
      <th><b>&#8364</b></th>
      <th><b>From</b></th>
      <th><b>To</b></th>
      <th><b>Comment</b></th>
      <th><b>Group</b></th>
      <th><b>Date</b></th>
    </tr>
    {% for transaction in transactionsRealAll %}
    <tr>
	<td {% if transaction.amountPerPersonFloat <= 0.0 %} style="color:red" {% else %}
	    style="color:green"
	    {% endif %}>
	    <b>{{ transaction.amountPerPerson }}</b></td>
	<td>
	  {% ifequal transaction.sender.displayname displayname %}
	  	<b>{{ transaction.sender }}</b>
	  {% else %}
	  	{{ transaction.sender }}
	  {% endifequal %}
	</td>
	<td>
	  {% ifequal transaction.receiver.displayname displayname %}
	  	<b>{{ transaction.receiver }}</b>
	  {% else %}
	  	{{ transaction.receiver }}
	  {% endifequal %}
	</td>
	<td >{{ transaction.comment }}</td> 
	<td >{{ transaction.groupAccount }}</td> 
	<td>{{ transaction.date|date:"SHORT_DATE_FORMAT"  }}</td>
    </tr>
  	{% endfor %}
  	</table>

  {% else %}
      <p>No real transactions available.</p>
  {% endif %}

{% endblock %}
